body{
    background-color: #fa8072;
   
}
div{ 
    margin-left: 50px;
}

div{
    margin-right: 50px
}

div {
    margin-top: 50px
}

#mercedes{ 
    widt: 350px;
    heigt: 350px;
    background-color: #f7d032;
   
}